asn1crypto==0.24.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.1.4
dnspython==1.15.0
docopt==0.6.2
enum34==1.1.6
fasteners==0.12.0
Flask==1.1.1
gunicorn==19.10.0
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
MarkupSafe==1.1.1
monotonic==1.0
ndg-httpsclient==0.4.4
netifaces==0.10.4
numpy==1.16.5
olefile==0.45.1
pandas==0.24.2
paramiko==2.0.0
pexpect==4.2.1
Pillow==5.1.0
pipreqs==0.4.10
powerline-status==2.6
psutil==5.4.2
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pyOpenSSL==17.5.0
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2019.3
pyxdg==0.25
reportlab==3.4.0
requests==2.22.0
scikit-learn==0.20.4
scipy==1.2.2
SecretStorage==2.3.1
simplejson==3.13.2
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
yarg==0.1.9
