.block-instructions{
  font-size: 16px;
  &__title{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__example{
    .example-description{
      font-size: 16px;
      width: 100%;
      b{
        font-weight: 700;
      }
    }
  }
}
.v-dialog--fullscreen{
  width: 96%;
  height: 96%;
  left: 2%;
  top: 2%;
}